[user]
    name = Luke Vosper
    email = luke@lv-labs.com

[core]
    sshCommand = ssh -i ~/.ssh/id_ed25519_personal -o IdentitiesOnly=yes

[includeIf "gitdir:~/Documents/thonk/"]
    path = ~/.gitconfig-work
